<li>
	<div class="field">
		<%= f.label :aff_name %><br />
		<%= f.select( :aff_name, User::AFFILIATIONS, { :prompt => true } )%>
		<%= f.hidden_field :_destroy %>
	  	<%= link_to "remove", "#", class: "remove_fields add_rm_btns" %>
	</div>
	<div class="field">
		<%= f.label :chapter %>
		<%= f.text_field :chapter %>
	</div>
</li>