<%= form_for @user, validate: true do |f| %>
  <%= render 'shared/errors', object: @user %> 
 
  <% if @new_contact %>
    <%= f.hidden_field :guest, value: true %>
    <p>This person will be added to your contact list </p>
  <% else %>
    <h1>Create Your Account</h1>
  <% end %>

  <div class="field"> 
    <%= f.label :fullname %><%= required_field %><br />
    <%= f.text_field :fullname %>
  </div>

  <% if !@new_contact %>
    <%= render('shared/authentication', f: f) if @user.new_record? %>
  <% end %>

  <div class="field">
    <%= f.fields_for :phone_numbers do |builder| %>
      <%= builder.label :number, "Phone Number" %><%= required_field %>
      <%= builder.text_field :number %>
    <% end %>
  </div>
  <div class="field">
    <%= f.fields_for :emails do |builder| %>
      <%= builder.label :email, "Email" %><%= required_field %>
      <%= builder.text_field :email %>
    <% end %>
  </div>

    

  <div class="field">
  	<%= f.label :company %><%= required_field %>
  	<%= f.text_field :company %>
  </div>
  <div class="field">
	  <%= f.label :biz_type, "Business Type" %><%= required_field %><br />
	  <%= f.collection_select :biz_type_id, BizType.find(:all), :id, :category, :prompt => "Please choose a business category" %>
  </div>

  <div class="field">
  	<%= f.label :website %>
  	<%= f.text_field :website %>
  </div>

  <ul class="nested_models">
    

    
  </ul>
  <div class='actions'>
    <%= f.submit "Create an Account", class:"submit_btn2" %>
  </div>
<% end %>