  <!-- profile page -->
  <%= render'shared/notifications' %>
  <div class="contact_page">
    
	<!-- <ul class="contact_profile"> 
	  
	  <li>
	    <ul class="contact_info"> -->
    <!-- <div class="info_container"> -->
      <%= render'shared/contact_image', contact: @user %>
      <%= render'shared/contact_phone_numbers', contact: @user %>
      <%= render'shared/contact_emails', contact: @user %>
      <%= render'shared/contact_addresses', contact: @user %>
     <!--  </ul>
  </li>
</ul> -->
    </div>

      
  </div>
  <%= render'shared/referral_links', user: @user %>

 
  


