
<div class="field">
    <%= f.label :password %><%= required_field %><br />
    <%= f.password_field :password %>
</div>
<div class="field">
    <%= f.label :password_confirmation %><%= required_field %><br />
    <%= f.password_field :password_confirmation %>
</div>