<ul class="contact_profile"> 
  <%= link_to image_tag("blank.jpg", size:"50x50"), user_path(contact) %>
  <li>
    <ul class="contact_info">
      <li class="full_name"><%=contact.fullname %></li>
    <% if contact.phone_numbers.count > 0 %>
      <% contact.phone_numbers.each do |phone| %>
        <li><%= phone.number %> <%= phone.phone_type %></li>
      <% end %>
    <% end %>

    <%= mail_to contact.email if contact.email %>
    </ul>
  </li>
</ul>