<div class="header full">
  <div id="logo"><%=image_tag "header.png", alt:"logo" %> </div>
<!--   <div class="header_links_container">
      <% if current_user %>    
            <%= link_to content_tag(:li, "Learn More"), about_path %>      
      <% else %>
            <%= link_to content_tag(:li, "Sign Up"), signup_path %>
            <%= link_to content_tag(:li, "Learn More"), about_path %>
            <%= link_to content_tag(:li, "Sign Inn"), login_path %>
      <% end %>
  </div> -->
    <% if current_user %>
      <div class="menu_accordian">Menu</div>
      <div class="menu_items hide">
        <h2 class="full">Today</h2>
        <div class="section full">
          <%= render'shared/today' %>
        </div>
        <h2 class="full">This Week</h2>
        <div class="section full">
          <%= render'shared/week' %>
        </div>
        <h2 class="full">This Month</h2>
        <div class="section full">
          <%= render'shared/month' %>
        </div>
        <h2 class="full">This Year</h2>
        <div class="section full">
          <%= render'shared/year' %>
        </div>
        <h2 class="full">Contacts</h2>
        <div class="section full">
          <%= render'shared/search_for_users' %>
          <%= render'shared/add_a_contact' %>
          <% if current_user %>
            <% current_user.associates.each do |contact| %>
                <div class="<%= cycle('odd', 'even') %> contact_list_member">
                  <%= render'shared/contact_info', contact: contact %>
                </div>
            <% end %>
          <% end %>
          <br class="clear"/>

        </div>
        <h2 class="full">History</h2>
        <div class="section full">
          blah blah blah balah
        </div>
        <% if current_user %>
          <%= link_to content_tag(:h3, "Edit Profile", class: "full"), home_path %>
          <%= link_to content_tag(:h3, "Logout", class: "full"), logout_path %>
        <% end %>
      </div>
    <% end %>
</div>