<div class="header full">
    <div class="menu_items">
      <% if !current_user %>  
            <%= content_tag :h3, link_to("Sign Up", signup_path), class: "full" %>
            <%= content_tag :h3, link_to("Learn More", about_path), class: "full" %> 
            <%= content_tag :h3, link_to("Sign In", login_path), class: "full" %>   
      <% end %>
    </div>
  
    <% if current_user %>
      <div class="menu_accordian">Menu</div>

      <div class="menu_items hide">

        <h2 class="full">Contacts</h2>
          <div class="section full">
            <%= render'shared/search_for_users' %>
            <%= render'shared/add_a_contact' %>
            <% if current_user %>
              <% current_user.associates.each do |contact| %>
                  <div class="<%= cycle('odd', 'even') %> contact_list_member">
                    <%= render'shared/contact_image', contact: contact %>
                    <br class="clear"/>
                  </div>
              <% end %>
            <% end %>
            <br class="clear"/>

          </div>
        
        <%= link_to content_tag(:h3, "Send a Referral", class: "full"), new_referral_path %>

        <!-- <h2 class="full">Today</h2>
        <div class="section full">
          <%= render'shared/today' %>
        </div>
        <h2 class="full">This Week</h2>
        <div class="section full">
          <%= render'shared/week' %>
        </div>
        <h2 class="full">This Month</h2>
        <div class="section full">
          <%= render'shared/month' %>
        </div>
        <h2 class="full">This Year</h2>
        <div class="section full">
          <%= render'shared/year' %>
        </div> -->
        
        <h2 class="full">History</h2>
        <div class="section full">
          <h3>Received Referrals </h3>
          <% received_referrals = current_user.received_referrals %>
          <% received_referrals.each do |r| %>
            <%= r.target.fullname %><br />
            Contact_by: <%= r.note.r_urgency %> <br />
            Comments: <%= r.note.r_comments %> <br />
            Card Given:<%= r.note.r_card_given %> <br />
            This person would prefer to be contacted by <%= r.note.r_preferred_contact %> <br />
          <% end %>
            -------------
          <h3>Sent Referrals </h3>
          <% sent_referrals = current_user.sent_referrals %>
          <% sent_referrals.each do |r| %>
            <%= r.referrer.fullname %><br />
            Contact_by: <%= r.note.t_urgency %> <br />
            Comments: <%= r.note.t_comments %> <br />
            Card Given:<%= r.note.t_card_given %> <br />
            This person would prefer to be contacted by <%= r.note.t_preferred_contact %> <br />

          <% end %>
        </div>
        <% if current_user %>
          <%= link_to content_tag(:h3, "Edit Profile", class: "full"), edit_user_path(current_user) %>
          <%= link_to content_tag(:h3, "Logout", class: "full"), logout_path %>
        <% end %>
      </div>
    <% end %>
</div>