<div class="target_info">
	<div class="field">
	    <%= f.label :fullname %><br />
	    <%= f.text_field :fullname %>
	</div>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :phone1 %><br />
		<%= f.text_field :phone1 %>
	</div>
	<div class="field">
		<%= f.label :phone2 %><br />
		<%= f.text_field :phone2 %>
	</div>
	<div class="field">
		<%= f.label :address1 %><br />
		<%= f.text_field :address1 %>
	</div>
	<div class="field">
		<%= f.label :address2 %><br />
		<%= f.text_field :address2 %>
	</div>
	<div class="field">
		<%= f.label :city %><br />
		<%= f.text_field :city %>
	</div>
	<div class="field">
		<%= f.label :state %><br />
		<%= f.text_field :state %>
	</div>
</div>