 
<%= render 'referrals/form/header_message' %>

<%= form_for(@referral) do |f| %>
  <%= render 'shared/errors', object: @referral %>

<div class="participants">
  <%= content_tag :div, "Seller", class: "members giver"%>
  <%= content_tag :div, "Buyer", class: "members receiver"%>
  <%= render 'referrals/form/referee_index' %>
  
  <%= render 'referrals/form/target_index' %>
  

</div>

  <%= render 'referrals/form/lead_hotness' %>

  <%= render 'referrals/form/comments' %>

  <%= render 'referrals/form/card_given' %>

  <%= render 'referrals/form/method_of_contact' %>



<div class="submit_referral_btn">
    <%= f.submit %>
  </div>

<% end %>
<br class="clear" />


