<div class="participant_box referee_id <%= add_gray_out_image(@referee_id, user.id) %>" id="referee_<%= user.id %>" data-referee_id ="<%= user.id %>" data-field="referee_id" data-user_name="<%= user.fullname %>" data-starts="<%= @starts_with %>" data-method="pass_referee_to_form" data-root="<%= root_path %>">
    <%= image_tag "blank.jpg", size: "50x50" %>
    <%= content_tag(:div, user.fullname, class: "name_of_referee") %>
</div>