<div class="new_referral_message full">
	<% if @referee %>
		<%= content_tag :div, "You are sending a referral to #{@referee.fullname}", class: "referral_header_msg" %>
	<% elsif @target %>
		<%= content_tag :div, "You are recommending a business to #{@target.fullname}", class: "referral_header_msg" %>
	<% end %>
	
</div>

<%= form_for(@referral) do |f| %>
  <%= render 'shared/errors', object: @referral %>

<div class="participants">
	<div class="giver participant">
		<%= image_tag "blank.jpg", size: "50x50" %>
		<%= content_tag(:div, user_name_if_given(@referee), class: "name_of_referee") %>
		<div class="change_contact">
			<%= select("lead", "referee_id", User.all.collect {|p| [ p.fullname, p.id ] }, {:include_blank => 'change contact'}) %>
			<div class="referral_add_contact"><%= render'shared/add_a_contact' %></div>
		</div>

	</div>
	<div class="arrow"> - -></div>
	<div class="receiver participant">
		<%= image_tag "blank.jpg", size: "50x50" %>
		<%= content_tag(:div, user_name_if_given(@target), class: "name_of_target") %>
		
		<div class="change_contact">
			<%= select("lead", "target_id", User.all.collect {|p| [ p.fullname, p.id ] }, {:include_blank => 'change contact'}) %>
			<div class="referral_add_contact"><%= render'shared/add_a_contact' %></div>
		</div>
	</div>

</div>

<div class="lead_hotness">
	<p>Follow up within:</p>
	<ul>
		<%= content_tag :li, "Today", class: "range", :"data-range" => "today" %>
		<%= content_tag :li, "Week", class: "range", :"data-range" => "week" %>
		<%= content_tag :li, "Month", class: "range", :"data-range" => "month" %>
		<%= content_tag :li, "Year", class: "range", :"data-range" => "year" %>
		<%= f.text_field :urgency %>
	</ul>
</div>


<div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%= link_to 'Back', referrals_path %>
