 

<div class="warm_up_now_or_later ref_field" >
	<p> Would you like to warm up the target now?</p>
	<ul>
		<%= content_tag :li, "Now", class: "warm_up_when", :"data-when" => "now" %>
		<%= content_tag :li, "Later", class: "warm_up_when", :"data-when" => "later"%>
	</ul>

</div>

<div class="warm_up_now ref_field" >
	<ul>
		<% contact = @referral.target %>
		<% if contact.phone_numbers.count > 0 %>
	      <% contact.phone_numbers.each do |phone| %>
	      	<%= content_tag :li, "#{phone.number} - #{phone.phone_type}", class: "initiate_warm_up" %>
	        
	      <% end %>
	    <% end %>
	    <% if contact.emails.count > 0 %>
	      <% contact.emails.each do |email| %>
	      	<%= content_tag :li, email.email, class: "initiate_warm_up" %>
	      <% end %>
	    <% else %>
	    	<%= content_tag :li, "no email record on file" %>
	    <% end %>
		
		<%= content_tag :li, "warm up later", class: "initiate_warm_up abandon_warm_up" %>
	</ul>

</div>


<div class="warm_up_later ref_field" >

	<p> Pick a date to you would like to warm up your target by.  Or click on "warm up now"</p>
	<div class="message_helper"></div>
	<ul>
		<%= form_for @referral, remote: true do |f| %>
			<%= f.text_field :warm_up_by %>
			<%= f.submit "add date" %>
		<% end %>
		
		<%= content_tag :li, "warm up now", class: "postpone_warm_up back_to_warm_up" %>
	</ul>
	

</div>

