<!DOCTYPE html>
<html>
<head>
  <title>ReferralApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="logo"><%=image_tag "header.png", width: "100%", alt:"logo" %> </div>
	<div id="dashboard"> 
		
		<%= yield %>
		
		<%= render 'shared/header' %>

	</div>

</body>
</html>
